In [4]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Dataset paths
dataset_path = "/Users/mydream/Desktop/PGDSAI/codes/kaggle pjt/Insurance Dataset/"

# Load datasets
train_db = pd.read_csv(dataset_path + 'train.csv')
test_db = pd.read_csv(dataset_path + 'test.csv')
sample_db = pd.read_csv(dataset_path + "sample_submission.csv")

# Data Overview
print("Train Data Info:")
print(train_db.info())
print("\nTest Data Info:")
print(test_db.info())

# Display basic statistics
print("\nTrain Data Description:")
print(train_db.describe())

# Check for missing values
print("\nMissing Values in Train Data:")
print(train_db.isnull().sum())

print("\nMissing Values in Test Data:")
print(test_db.isnull().sum())

# ------------------------------------------------------------
# Data Engineering
# ------------------------------------------------------------

# Handle missing values
print("\nHandling Missing Values...")
train_db.fillna(train_db.median(), inplace=True)
test_db.fillna(test_db.median(), inplace=True)

# Encode categorical features
print("\nEncoding Categorical Features...")
encoder = LabelEncoder()

# List of categorical columns
categorical_columns = ['Gender', 'Marital Status', 'Policy Type']

# Convert categorical columns to numeric in both train and test datasets
for col in categorical_columns:
    if col in train_db.columns and train_db[col].dtype == 'object':
        train_db[col] = encoder.fit_transform(train_db[col])
    if col in test_db.columns and test_db[col].dtype == 'object':
        test_db[col] = encoder.transform(test_db[col])

# Feature scaling for numerical columns
print("\nScaling Numerical Features...")
scaler = StandardScaler()
numerical_columns = ['Age', 'Annual Income', 'Health Score']  # Replace with your dataset's numerical columns
train_db[numerical_columns] = scaler.fit_transform(train_db[numerical_columns])
test_db[numerical_columns] = scaler.transform(test_db[numerical_columns])

# ------------------------------------------------------------
# Data Analysis
# ------------------------------------------------------------

# Correlation heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(train_db.corr(), annot=True, fmt=".2f", cmap="coolwarm")
plt.title("Correlation Matrix")
plt.show()

# Distribution of Premium Amount
plt.figure(figsize=(8, 5))
sns.histplot(train_db['Premium Amount'], kde=True, bins=30)
plt.title("Distribution of Premium Amount")
plt.xlabel("Premium Amount")
plt.show()

# Check relationships between numerical features and target
for col in numerical_columns:
    plt.figure(figsize=(8, 5))
    sns.scatterplot(data=train_db, x=col, y='Premium Amount')
    plt.title(f"{col} vs Premium Amount")
    plt.show()

# Categorical analysis
for col in categorical_columns:
    plt.figure(figsize=(8, 5))
    sns.boxplot(data=train_db, x=col, y='Premium Amount')
    plt.title(f"{col} vs Premium Amount")
    plt.show()

# ------------------------------------------------------------
# Prepare Features and Target
# ------------------------------------------------------------

X = train_db.drop(['id', 'Premium Amount'], axis=1)  # Exclude ID and target variable
y = train_db['Premium Amount']
X_test = test_db.drop(['id'], axis=1)

# Train-test split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# ------------------------------------------------------------
# Model Training
# ------------------------------------------------------------

print("\nTraining Model...")
model = RandomForestRegressor(n_estimators=200, random_state=42)
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_val)
rmsle = np.sqrt(mean_squared_log_error(y_val, y_pred))
print("\nRMSLE on Validation Data:", rmsle)

# ------------------------------------------------------------
# Prediction and Submission
# ------------------------------------------------------------

# Predict on test data
print("\nPredicting on Test Data...")
test_preds = model.predict(X_test)

# Prepare submission file
submission = pd.DataFrame({'id': test_db['id'], 'Premium Amount': test_preds})
submission.to_csv(dataset_path + 'submission.csv', index=False)
print("\nSubmission file created at:", dataset_path + 'submission.csv')

Train Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB
None

Test Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    800000 non-null  int64
 1   Age                   787511 non-null  float64
 2   Gender                800000 non-null  object
 3   Annual Income         770140 non-null  float64
 4   Marital Status        787664 non-null  object
 5   Number of Dependents  726870 non-null  float64
 6   Education Level       800000 non-null  object
 7   Occupation            560875 non-null  object
 8   Health Score          750551 non-null  float64
 9   Location              800000 non-null  object
 10  Policy Type           800000 non-null  object
 11  Previous Claims       557198 non-null  float64
 12  Vehicle Age           799997 non-null  float64
 13  Credit Score          708549 non-null  float64
 14  Insurance Duration    799998 non-null  float64
 15  Policy Start Date     800000 non-null  object
 16  Customer Feedback     747724 non-null  object
 17  Smoking Status        800000 non-null  object
 18  Exercise Frequency    800000 non-null  object
 19  Property Type         800000 non-null  object
dtypes: float64(8), int64(1), object(11)
memory usage: 122.1+ MB
None

Train Data Description:
                 id           Age  Annual Income  Number of Dependents  \
count  1.200000e+06  1.181295e+06   1.155051e+06          1.090328e+06
mean   5.999995e+05  4.114556e+01   3.274522e+04          2.009934e+00
std    3.464103e+05  1.353995e+01   3.217951e+04          1.417338e+00
min    0.000000e+00  1.800000e+01   1.000000e+00          0.000000e+00
25%    2.999998e+05  3.000000e+01   8.001000e+03          1.000000e+00
50%    5.999995e+05  4.100000e+01   2.391100e+04          2.000000e+00
75%    8.999992e+05  5.300000e+01   4.463400e+04          3.000000e+00
max    1.199999e+06  6.400000e+01   1.499970e+05          4.000000e+00

       Health Score  Previous Claims   Vehicle Age  Credit Score  \
count  1.125924e+06    835971.000000  1.199994e+06  1.062118e+06
mean   2.561391e+01         1.002689  9.569889e+00  5.929244e+02
std    1.220346e+01         0.982840  5.776189e+00  1.499819e+02
min    2.012237e+00         0.000000  0.000000e+00  3.000000e+02
25%    1.591896e+01         0.000000  5.000000e+00  4.680000e+02
50%    2.457865e+01         1.000000  1.000000e+01  5.950000e+02
75%    3.452721e+01         2.000000  1.500000e+01  7.210000e+02
max    5.897591e+01         9.000000  1.900000e+01  8.490000e+02

       Insurance Duration  Premium Amount
count        1.199999e+06    1.200000e+06
mean         5.018219e+00    1.102545e+03
std          2.594331e+00    8.649989e+02
min          1.000000e+00    2.000000e+01
25%          3.000000e+00    5.140000e+02
50%          5.000000e+00    8.720000e+02
75%          7.000000e+00    1.509000e+03
max          9.000000e+00    4.999000e+03

Missing Values in Train Data:
id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

Missing Values in Test Data:
id                           0
Age                      12489
Gender                       0
Annual Income            29860
Marital Status           12336
Number of Dependents     73130
Education Level              0
Occupation              239125
Health Score             49449
Location                     0
Policy Type                  0
Previous Claims         242802
Vehicle Age                  3
Credit Score             91451
Insurance Duration           2
Policy Start Date            0
Customer Feedback        52276
Smoking Status               0
Exercise Frequency           0
Property Type                0
dtype: int64

Handling Missing Values...

TypeError: could not convert string to float: 'Female'

In [8]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor, Pool
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.preprocessing import LabelEncoder
import optuna
import re
import warnings

In [9]:
# Load Data
train_data = pd.read_csv('/Users/mydream/Desktop/PGDSAI/codes/kaggle pjt/Insurance Dataset/train.csv', index_col='id')
test_data = pd.read_csv('/Users/mydream/Desktop/PGDSAI/codes/kaggle pjt/Insurance Dataset/test.csv', index_col='id')

In [18]:
print("Train Keys           | Test Keys")
print("--------------------------------")
for train_key, test_key in zip(train_data.keys(), test_data.keys()):
    print(f"{train_key:<20} | {test_key}")

Train Keys           | Test Keys
--------------------------------
Age                  | Age
Gender               | Gender
Annual Income        | Annual Income
Marital Status       | Marital Status
Number of Dependents | Number of Dependents
Education Level      | Education Level
Occupation           | Occupation
Health Score         | Health Score
Location             | Location
Policy Type          | Policy Type
Previous Claims      | Previous Claims
Vehicle Age          | Vehicle Age
Credit Score         | Credit Score
Insurance Duration   | Insurance Duration
Policy Start Date    | Policy Start Date
Customer Feedback    | Customer Feedback
Smoking Status       | Smoking Status
Exercise Frequency   | Exercise Frequency
Property Type        | Property Type

In [10]:
#explore train data
train_data.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
id,,,,,,,,,,,,,,,,,,,,
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [11]:
# explore test data
test_data.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
id,,,,,,,,,,,,,,,,,,,
1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House

In [12]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1181295 non-null  float64
 1   Gender                1200000 non-null  object
 2   Annual Income         1155051 non-null  float64
 3   Marital Status        1181471 non-null  object
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), object(11)
memory usage: 192.3+ MB

In [13]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800000 entries, 1200000 to 1999999
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Age                   787511 non-null  float64
 1   Gender                800000 non-null  object
 2   Annual Income         770140 non-null  float64
 3   Marital Status        787664 non-null  object
 4   Number of Dependents  726870 non-null  float64
 5   Education Level       800000 non-null  object
 6   Occupation            560875 non-null  object
 7   Health Score          750551 non-null  float64
 8   Location              800000 non-null  object
 9   Policy Type           800000 non-null  object
 10  Previous Claims       557198 non-null  float64
 11  Vehicle Age           799997 non-null  float64
 12  Credit Score          708549 non-null  float64
 13  Insurance Duration    799998 non-null  float64
 14  Policy Start Date     800000 non-null  object
 15  Customer Feedback     747724 non-null  object
 16  Smoking Status        800000 non-null  object
 17  Exercise Frequency    800000 non-null  object
 18  Property Type         800000 non-null  object
dtypes: float64(8), object(11)
memory usage: 122.1+ MB

In [14]:
train_data.isnull().sum()

Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [15]:
test_data.isnull().sum()

Age                      12489
Gender                       0
Annual Income            29860
Marital Status           12336
Number of Dependents     73130
Education Level              0
Occupation              239125
Health Score             49449
Location                     0
Policy Type                  0
Previous Claims         242802
Vehicle Age                  3
Credit Score             91451
Insurance Duration           2
Policy Start Date            0
Customer Feedback        52276
Smoking Status               0
Exercise Frequency           0
Property Type                0
dtype: int64

In [19]:
# check the shape of all the datasets:

print("Train Data Shape: ", train_data.shape)

print("Test Data Shape: ", test_data.shape)

Train Data Shape:  (1200000, 20)
Test Data Shape:  (800000, 19)

Data Preprocessing

In [20]:
# Convert 'Policy Start Date' to datetime format
train_data['Policy Start Date'] = pd.to_datetime(train_data['Policy Start Date'], errors='coerce')
test_data['Policy Start Date'] = pd.to_datetime(test_data['Policy Start Date'], errors='coerce')

# Feature Engineering
for df in [train_data, test_data]:
    df['Policy_Start_Year'] = df['Policy Start Date'].dt.year
    df['Policy_Start_Month'] = df['Policy Start Date'].dt.month
    df['Policy_Start_Day'] = df['Policy Start Date'].dt.day
    df['Policy_Age'] = 2024 - df['Policy_Start_Year']  # Assuming current year is 2024
    df['Year_Month_Interaction'] = df['Policy_Start_Year'] * df['Policy_Start_Month']

# Health Score Optimization
if 'Health Score' in df.columns:
    df['Health Score'] = df['Health Score'].fillna(-1)  # Replace NaN with -1
    df['HealthScore'] = df['Health Score'].astype(int).astype(str)  # Convert to int, then to string


# Drop the original datetime column
train_data.drop('Policy Start Date', axis=1, inplace=True)
test_data.drop('Policy Start Date', axis=1, inplace=True)


# Handle Missing Values for Numerical Columns
numerical_cols = train_data.select_dtypes(include=['number']).columns
for col in numerical_cols:
    train_data[col].fillna(train_data[col].median(), inplace=True)
    if col in test_data.columns:
        test_data[col].fillna(test_data[col].median(), inplace=True)

# Handle Missing Values for Categorical Features
categorical_cols = train_data.select_dtypes(include=['object']).columns.tolist()
for col in categorical_cols:
    train_data[col] = train_data[col].fillna('missing')  # Replace NaN with 'missing'
    if col in test_data.columns:
        test_data[col] = test_data[col].fillna('missing')  # Replace NaN with 'missing'

# Ensure 'Health Score' and 'HealthScore' are treated as categorical
if 'Health Score' in train_data.columns:
    categorical_cols.append('Health Score')
if 'HealthScore' in train_data.columns:
    categorical_cols.append('HealthScore')

# Convert categorical features to strings
for col in categorical_cols:
    train_data[col] = train_data[col].astype(str)
    if col in test_data.columns:
        test_data[col] = test_data[col].astype(str)

# Log-transform target
target_column = 'Premium Amount'
if target_column not in train_data.columns:
    raise KeyError(f"Target column '{target_column}' not found in training data.")
y = np.log1p(train_data[target_column])

In [21]:
train_data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Policy_Start_Year,Policy_Start_Month,Policy_Start_Day,Policy_Age,Year_Month_Interaction
id,,,,,,,,,,,,,,,,,,,,,
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.59876067181393,Urban,Premium,...,Poor,No,Weekly,House,2869.0,2023,12,23,1,24276
1,39.0,Female,31678.0,Divorced,3.0,Master's,missing,15.569730989408043,Rural,Comprehensive,...,Average,Yes,Monthly,House,1483.0,2023,6,12,1,12138
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.17754928786464,Suburban,Premium,...,Good,Yes,Weekly,House,567.0,2023,9,30,1,18207
3,21.0,Male,141855.0,Married,2.0,Bachelor's,missing,10.938144158664583,Rural,Basic,...,Poor,Yes,Daily,Apartment,765.0,2024,6,12,0,12144
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376093627736925,Rural,Premium,...,Poor,Yes,Weekly,House,2022.0,2021,12,1,3,24252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772906781943464,Urban,Premium,...,Poor,No,Daily,Apartment,1303.0,2023,5,3,1,10115
1199996,54.0,Male,35786.0,Divorced,2.0,Master's,Self-Employed,11.483482248867409,Rural,Comprehensive,...,Poor,No,Weekly,Apartment,821.0,2022,9,10,2,18198
1199997,19.0,Male,51884.0,Divorced,0.0,Master's,missing,14.724468506098551,Suburban,Basic,...,Good,No,Monthly,Condo,371.0,2021,5,25,3,10105
1199998,55.0,Male,23911.0,Single,1.0,PhD,missing,18.547381083230007,Suburban,Premium,...,Poor,No,Daily,Apartment,596.0,2021,9,19,3,18189
1199999,21.0,Female,23911.0,Divorced,0.0,PhD,missing,10.125322976855044,Rural,Premium,...,Good,Yes,Monthly,House,2480.0,2020,8,26,4,16160

In [23]:
y

id
0          7.962067
1          7.302496
2          6.342121
3          6.641182
4          7.612337
             ...
1199995    7.173192
1199996    6.711740
1199997    5.918894
1199998    6.391917
1199999    7.816417
Name: Premium Amount, Length: 1200000, dtype: float64

In [22]:
# CatBoost Pool (Handles categorical features automatically)
train_pool = Pool(X_train, y_train, cat_features=categorical_cols)
val_pool = Pool(X_val, y_val, cat_features=categorical_cols)
test_pool = Pool(X_test, cat_features=categorical_cols)

# Train CatBoost Model
catboost_model = CatBoostRegressor(
    iterations=2000,               # Moderate number of iterations
    learning_rate=0.02,            # Slightly higher learning rate
    depth=8,                       # Tree depth for complexity control
    l2_leaf_reg=8,                 # Regularization for overfitting
    subsample=0.8,                 # Use 80% of the dataset in each iteration
    colsample_bylevel=0.8,         # Use 80% of features per tree level
    loss_function='RMSE',
    eval_metric='RMSE',
    early_stopping_rounds=100,     # Stop early if no improvement
    random_seed=42,
    verbose=100                    # Print progress every 100 iterations
)
catboost_model.fit(train_pool, eval_set=val_pool, use_best_model=True)

# Evaluate Model
val_preds = catboost_model.predict(val_pool)
val_preds = np.expm1(val_preds)  # Reverse log-transform
actual_y_val = np.expm1(y_val)  # Reverse log-transform
val_rmse = np.sqrt(mean_squared_error(actual_y_val, val_preds))
print(f"Validation RMSE: {val_rmse}")

# Cross-Validation
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = []

for train_idx, val_idx in kf.split(X):
    X_kf_train, X_kf_val = X.iloc[train_idx], X.iloc[val_idx]
    y_kf_train, y_kf_val = y.iloc[train_idx], y.iloc[val_idx]

    train_pool_kf = Pool(X_kf_train, y_kf_train, cat_features=categorical_cols)
    val_pool_kf = Pool(X_kf_val, y_kf_val, cat_features=categorical_cols)

    catboost_model.fit(train_pool_kf, eval_set=val_pool_kf, use_best_model=True, verbose=100)
    preds = catboost_model.predict(val_pool_kf)
    preds = np.expm1(preds)
    y_kf_val = np.expm1(y_kf_val)
    rmse = np.sqrt(mean_squared_error(y_kf_val, preds))
    cv_scores.append(rmse)

print(f"Mean CV RMSE: {np.mean(cv_scores)}")

# Predict on Test Data
test_preds = catboost_model.predict(test_pool)
test_preds = np.expm1(test_preds)  # Reverse log-transform

# Prepare Submission
submission = pd.DataFrame({
    'id': test_ids,
    'Premium Amount': test_preds
})
submission.to_csv('submission.csv', index=False)

print("Submission file created: submission.csv")

NameError: name 'X_train' is not defined